body {
    font-family: 'Ubuntu';
    font-size: 22px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.rotate {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.rotate.down {
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
}